.App {
  margin-top: 80px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  margin: 1% 0% 0% 20%;
  position: absolute;
}

/* Botones con estilo predeterminado */
.filter-buttons button {
  background-color: #4CAF50; /* Verde predeterminado */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 12px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-buttons button:hover {
  background-color: #45a049;
}

.chart-container {
  width: 100%;  /* Ocupa el ancho completo */
  height: 60vh; /* Ocupa 60% de la altura de la pantalla */
  overflow-x: auto; /* Habilita el scroll horizontal */
  padding: 10px; /* Espacio alrededor de la gráfica */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

@media screen and (max-width: 600px) {
  .chart-container {
      height: 70vh; /* Mayor altura en pantallas pequeñas */
      overflow-x: auto; /* Sigue permitiendo scroll horizontal */
  }
}


/* Estilos responsivos */

/* Pantallas medianas (tablets) */
@media (max-width: 1024px) {
  .filter-buttons {
      margin-left: 10%; /* Mover botones más a la izquierda */
  }
  
  .filter-buttons button {
      font-size: 11px; /* Reducir tamaño de las letras */
  }

  .chart-container {
      width: 90%;
      margin-left: 5%;
  }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .filter-buttons {
      margin-left: 5%; /* Botones más a la izquierda */
  }

  .filter-buttons button {
      font-size: 10px; /* Aún más pequeño en móviles */
      padding: 4px 8px; /* Reducir el padding */
  }

  .chart-container {
      width: 100%;
      margin-left: 0;
  }
}

/* Pantallas muy pequeñas */
@media (max-width: 480px) {
  .filter-buttons {
      margin-left: 2%; /* Casi al borde en pantallas muy pequeñas */
  }

  .filter-buttons button {
      font-size: 9px;
      padding: 3px 6px; /* Más pequeño para dispositivos pequeños */
  }

  .chart-container {
      width: 100%;
      margin-left: 0;
  }
}

.floating-home-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

.floating-home-btn:hover {
  background: #0056b3;
}

.floating-menu-btn {
  position: fixed;
  top: 10px;
  right: 70px;
  background: #347928;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 22px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}
